<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Base Template
-->

<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}TITLE NEEDED{% endblock %} - CircleStories</title>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    </head>
    <body>
        {% block body %}
            {% block nav %}
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        {% if "username" in session %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
            {% block content %}
                CONTENT NEEDED
            {% endblock %}
        {% endblock %}
    </body>
</html>
